.portfolio-title {
  font-size: 30px;
  color: #FF0066;
  text-align: center;
}

.welcome-title {
  font-size: 24px;
  color: #3366FF;
}

.intro-text {
  font-size: 18px;
  color: #555555;
  margin-bottom: 10px;
}

.my-photo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px auto;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.signature {
  text-align: center;
  font-size: 16px;
  color: #999999;
}

.blog-entries-title {
  font-size: 24px;
  color: #3366FF;
  margin-top: 30px;
}

.contact-text {
  font-size: 18px;
  color: #555555;
  margin-top: 30px;
}

.contact-info {
  font-size: 16px;
  color: #999999;
  margin-top: 10px;
}

.ad-banner {
  background-color: #FF0066;
  color: #FFF;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  border: 2px solid #555555;
  border-radius: 5px;
}
